{% extends "admin_base.html" %}
{% block title %}{{ _("Edit forums") }} - {{ tornadobb_settings["tornadobb.forum_title"] }}{% end%}
{% block menu_forum %}isactive{% end %}
{% block right_content %}
{% set forum_min = tornadobb_settings.get("tornadobb.forum_min_chars_num",5) %}
{% set forum_max = tornadobb_settings.get("tornadobb.forum_max_chars_num",25) %}
{% set forum_des_min = tornadobb_settings.get("tornadobb.forum_des_min_chars_num",0) %}
{% set forum_des_max = tornadobb_settings.get("tornadobb.forum_des_max_chars_num",25) %}
<h2 class="block2"><span>{{_("Edit forums")}}</span></h2>
<div class="box">
	<form id="forumedit" method="post" action="edit">
	{% raw xsrf_form_html() %}
		<div class="inform">
			<fieldset>
				<legend>{{_("Edit forums")}}</legend>
				<div class="infldset">
					<table cellspacing="0" >
					<thead>
						<tr>
							<th class="tcl" scope="col">{{_("Category")}}</th>
							<th scope="col">{{_("Name")}}</th>
							<th scope="col">{{_("Position")}}</th>
							<th scope="col">{{_("Description")}}</th>
							<th scope="col">{{_("Action")}}</th>
						</tr>
					</thead>
					<tbody>
					{% for category in data["category_set"] %}
						{% for forum in category.get("forum",[])%}
						<input type="hidden" name="old_category_id" value="{{ category['_id'] }}">
						<input type="hidden" name="forum_id" value="{{ forum['_id'] }}">
						<tr>
							<td><select size="1" name="new_category_id" id="new_category_id">
								{% for select_category in data["category_set"]%}
									{% if select_category["_id"] == category["_id"]%}
									<option value="{{ select_category['_id'] }}" selected>{{ select_category["name"] }}</option>
									{% else %}
									<option value="{{ select_category['_id'] }}">{{ select_category["name"] }}</option>
									{% end %}
								{% end %}
								</select>
							</td>	
							<td><input class="name" type="text" name="forum_name" value="{{ forum['name'] }}" size="10" maxlength="{{ forum_max}}" /></td>
							<td><input class="position" type="text" name="forum_position" value="{{ forum['position'] }}" size="3" maxlength="3" /></td>
							<td><input class="des" type="text" name="forum_des" value="{{ forum['des'] }}" size="20" maxlength="{{ forum_des_max }}" /></td>
							<td>
							{% if forum.get("closed",False) %}
							<a href="close?c_id={{ category['_id'] }}&f_id={{ forum['_id'] }}&c=open">{{_("open")}}</a>
							{% else %}
							<a href="close?c_id={{ category['_id'] }}&f_id={{ forum['_id'] }}&c=close">{{_("close")}}</a>
							{% end %}
							 | <a href="delete?c_id={{ category['_id'] }}&f_id={{ forum['_id'] }}">{{_("delete")}}</a></td>
						</tr>
						{% end %}
					{% end %}
					</tbody>
					</table>
					<div class="fsetsubmit"><input type="submit" value="{{_('Update')}}" /></div>
				</div>
			</fieldset>
		</div>
	</form>
</div>
<h2 class="block2"><span>{{_("Add Forum")}}</span></h2>
<div class="box">
	<form id="forumadd" method="post" action="">
	{% raw xsrf_form_html() %}
		<div class="inform">
			<fieldset>
				<legend>{{_("Add Forum")}}</legend>
				<div class="infldset">
					<table cellspacing="0" >
						<tr>
							<th class="tcl" scope="col">{{_("Category")}}</th>
							<th scope="col">{{_("Name")}}</th>
							<th scope="col">{{_("Position")}}</th>
							<th scope="col">{{_("Description")}}</th>
						<tr>
							<td><select size="1" name="category_id" id="category_id">
								{% for category in data["category_set"]%}
								<option value="{{ category['_id'] }}">{{ category["name"] }}</option>
								{% end %}
								</select>
							</td>
							<td><input type="text" id="forum_name" name="forum_name" size="20" maxlength="{{ forum_max }}" /></td>
							<td><input type="text" id="forum_position" name="forum_position" size="3" maxlength="3" /></td>
							<td><input type="text" id="forum_des" name="forum_des" size="20" maxlength="{{ forum_des_max }}" /></td>
						</tr>
					</table>
					<div class="fsetsubmit"><input type="submit" value="{{_('Submit')}}" /></div>
				</div>
			</fieldset>
		</div>
	</form>
</div>
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.min.js"></script>    
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	
	$("#forumedit").submit(function(){
		var reg_name = /^\S+.*/
		var result = true;
				
		$("#forumedit .name").each(function(){	
			if (reg_name.test($(this).val())){}
			else{
				alert("{{ _('Please enter a forum name') }}");
				result = false;
				$(this)[0].focus();
				return
				}
		});

		if (result == false)
			return false;
		var reg_position = /[0-9]+/;
		$("#forumedit .position").each(function(){

			if (reg_position.test($(this).val())){}
			else{
				alert("{{ _('Position number must be a digit') }}");
				result = false;
				$(this)[0].focus();
				}
		});
		
		if (result == false)
			return false;
		var reg_des = reg_name ;
		$("#forumedit .des").each(function(){
			if (reg_des.test($(this).val())){}
			else{
				alert("{{ _('Please enter a description') }}");
				result = false;
				$(this)[0].focus();
				}
		});
		
		return result;
	});
	
	$("#forumadd").validate({
		rules: {

			forum_name: {
				required: true,
				minlength: {{ forum_min }},
				maxlength: {{ forum_max }}
			},
			forum_position: {
				required: true,
				digits: true
			},
			forum_des: {
				required: true,
				minlength: {{ forum_des_min }},
				maxlength: {{ forum_des_max }}
			}
		},
		messages: {
		
			forum_name: {
				required: "{{ _('Please enter a category name') }}",
				minlength: "{{  _('Please enter at least {0} characters').format(forum_min) }}",
				maxlength: "{{  _('Please enter at most {0} characters').format(forum_max) }}"
			},
			forum_position: {
				required: "{{ _('Please enter a position number') }}",
				digits: "{{ _('Position must be one integer') }}"
			},
			forum_des:	{
				required: "{{ _('Please enter a description') }}",
				minlength: "{{  _('Please enter at least {0} characters').format(forum_des_min) }}",
				maxlength: "{{  _('Please enter at most {0} characters').format(forum_des_max) }}"
			}
		}
	});
});
</script>
{% end %}
