{% extends "admin_base.html" %}
{% block title %}{{_("Forum administration")}} - {{ tornadobb_settings["tornadobb.forum_title"] }}{% end%}
{% block menu_dashboard %}isactive{% end %}
{% block right_content %}
{% import platform %}
{% import util %}
<h2><span>{{_("Forum administration")}}</span></h2>
<div id="adintro" class="box">
	<div class="inbox">
		<p>
			{{_("Welcome to the TornadoBB administration control panel")}}<br /><br />
			&#160;- {{_("Organize categories and forums")}}<br />
			&#160;- {{_("Control permissions for users")}}<br />
			&#160;- {{_("Manage moderators")}}<br />
			&#160;- {{_("Ban users")}}<br />
		</p>
	</div>
</div>

<h2 class="block2"><span>{{_("Statistics")}}</span></h2>
<div id="adstats" class="box">
	<div class="inbox">

		<dl>
			<dt>TornadoBB {{_("version")}}</dt>
			<dd>
				version: {{ tornadobb_settings["tornadobb.version"]}} - <a href="">{{_("Check for upgrade")}}</a><br />
			</dd>
			<dt>{{_("Server load")}}</dt>
			<dd>
				{{ util.load_stat() }}
			</dd>
			<dt>{{_("Environment")}}</dt>
			<dd>
				{{_("Operating system")}}: {{ platform.platform() }}<br />
				Python: {{  platform.python_version() }}<br />
			</dd>

			<dt>{{_("Database")}}</dt>
			<dd>
				{% set db_info = data["database_info"] %}
				{% for k,v in db_info.items() %}
					{{ _(k) }} : {{ v }}<br />
				{% end  %}
			</dd>
		</dl>
	</div>
</div>
{% end %}
