{% extends "single_block_base.html" %}
{% block title %}{{ _("Find password")}} - {{ tornadobb_settings["tornadobb.forum_title"] }}{% end%}
{% block single_block %}
{% set user_min = tornadobb_settings.get("tornadobb.username_min_chars_num",2) %}
{% set user_max = tornadobb_settings.get("tornadobb.username_max_chars_num",25) %}
<div class="blockform">
<h2><span>{{_("Find password")}}</span></h2>
<div class="box">
	<form id="forget-form" method="post" action="">
		<div class="inform">
			<fieldset>
				<legend>{{_("Enter your username and email below")}}</legend>
				<div class="infldset">
					{% raw xsrf_form_html() %}
					<label class="conl required"><strong>{{_("Username")}} <span>({{_("Required")}})</span></strong><br /><input type="text" id="username" name="username" size="25" maxlength="{{ user_max }}" tabindex="1" /><br /></label>
					<label class="conl required"><strong>{{_("Email")}} <span>({{_("Required")}})</span></strong><br /><input type="text" id="email" name="email" size="25" maxlength="80" tabindex="2" /><br /></label>
				</div>
			</fieldset>
		</div>
		<p class="buttons"><input type="submit" value="{{_('Submit')}}" tabindex="3" /></p>
	</form>
</div>
</div>
{% end %}
{% block scripts %}
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.min.js"></script>    
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {

	$("#forget-form").validate({
		rules: {

			username: {
				required: true,
				minlength: {{ user_min }},
				maxlength: {{ user_max }}
			},
			email: {
				required: true,
				email: true
			}
		},
		messages: {
		
			username: {
				required: "{{ _('Please enter a username') }}",
				minlength: "{{  _('Please enter at least {0} characters').format(user_min) }}",
				maxlength: "{{  _('Please enter at most {0} characters').format(user_max) }}"
			},
			email: "{{ _('Please enter a valid email address') }}"
		}
	});
});
</script>
{% end %}
