<div id="sitefooter" class="site">
	<div class="footer-inner">
		<div class="content content-a">
			<div class="mod">
				<ul>
					<li><span class="feed"><a href=""><span></span></a></span></li>
					<li><span class="feed"><a href=""><span></span></a></span></li>
				</ul>
			</div>
			<div class="mod">
				<ul>
					<li><span class="feed"><a href=""><span></span></a></span></li>
					<li><span class="feed"><a href=""><span></span></a></span></li>
				</ul>
			</div>
 		</div>
 		<div class="content content-b">
 			<div class="mod credits">
				<ul>
					<li><span class="copyright">Copyright &#169; TornadoBB 2012 - 2999</span></li>
					<li><span class="hosted">Hosting provided by <a href="http://www.linode.com">linode</a>.</span></li>
				</ul>
 			</div>
 		</div>
 	</div>
</div>
