{% set root_url = handler.settings.get('tornadobb.root_url','/tornadobb') %}
{% set category_id = pagination_obj.get("category_id") %}
{% set forum_id = pagination_obj.get("forum_id") %}
{% set current_page_num = pagination_obj.get("current_page_num") %}
{% set current_page_top = pagination_obj.get('current_page_top',None) %}
{% set current_page_bottom = pagination_obj.get('current_page_bottom',None) %}
{% set pages_num = pagination_obj.get('pages_num',None) %}
{% set total_items_num = pagination_obj.get('total_items_num',None) %}
{% set filter_view = pagination_obj.get("filter_view",None) %}
{% set order_by = pagination_obj.get("order_by",None) %}

<p class="pagelink conl"><span class="pages-label">{{_("Pages")}}: </span>
    {% if pagination_obj.get("has_previous",False) %}
    
     <a href="{{ root_url }}/forum/{{category_id}}/{{forum_id}}/{{ current_page_num }}/{{ current_page_num-1 }}/{{ pages_num }}/{{ total_items_num }}/{{ current_page_top }}/{{ current_page_bottom }}/{% if filter_view and filter_view != 'all' %}f={{ filter_view }}{% end %}{% if order_by and order_by != 'post' %}&o={{ order_by }}{% end %}">{{_("Previous")}}</a>
    {% end %}
    <!-- show first page-->
	{% if current_page_num == 1%}
	<strong class="item1">1</strong>
	{% else %}
    <a href="{{ root_url }}/forum/{{category_id}}/{{forum_id}}/?{% if filter_view and filter_view != 'all' %}f={{ filter_view }}{% end %}{% if order_by and order_by != 'post' %}&o={{ order_by }}{% end %}">1</a>
    {% end %}
    
    {% if show_prev_space %}
	<span class="spacer">…</span>
	{% end %}

	{% for page_num in xrange(begin,end) %}
		{% if page_num == current_page_num %}<strong class="item">{{ page_num }}</strong> 
		{% else %}<a href="{{ root_url }}/forum/{{category_id}}/{{forum_id}}/{{ current_page_num }}/{{ page_num }}/{{ pages_num }}/{{ total_items_num }}/{{ current_page_top }}/{{ current_page_bottom }}/{% if filter_view and filter_view != 'all' %}f={{ filter_view }}{% end %}{% if order_by and order_by != 'post' %}&o={{ order_by }}{% end %}">{{ page_num }}</a>
		{% end %}
	{% end %}

	{% if show_next_space %}
	<span class="spacer">…</span>
	{% end %}
	<!-- show last page-->
	{% if pages_num > 1 %}
		{% if current_page_num == pages_num %}
		<strong class="item1">{{ pages_num}}</strong> 
		{% else %}
		<a href="{{ root_url }}/forum/{{category_id}}/{{forum_id}}/{{ current_page_num }}/{{ pages_num }}/{{ pages_num }}/{{ total_items_num }}/{{ current_page_top }}/{{ current_page_bottom }}/{% if filter_view and filter_view != 'all' %}f={{ filter_view }}{% end %}{% if order_by and order_by != 'post' %}&o={{ order_by }}{% end %}">{{ pages_num }}</a>
		{% end %}
		
		{% if pagination_obj.get("has_next",False) %}
		<a href="{{ root_url }}/forum/{{category_id}}/{{forum_id}}/{{ current_page_num }}/{{ current_page_num+1 }}/{{ pages_num }}/{{ total_items_num }}/{{ current_page_top }}/{{ current_page_bottom }}/{% if filter_view and filter_view != 'all' %}f={{ filter_view }}{% end %}{% if order_by and order_by != 'post' %}&o={{ order_by }}{% end %}">{{_("Next")}}</a>
		{% end %}
	{% end %}
</p>

