{% set root_url = handler.settings["tornadobb.root_url"]  %}
<div><label><span>{{_("Jump to")}}<br /></span>
		<select name="id" onchange="window.location=(this.options[this.selectedIndex].value)">
		<option value="#">---{{ _("Forum") }}---</option>
		{% for category in handler.settings["tornadobb.category_forum"] %}
			<optgroup label="{{ category['name'] }}">
			{% for forum in category.get("forum",[])%}
				{% if not forum.get("closed",False)%}
				<option value="{{ root_url }}/forum/{{ category['_id'] }}/{{ forum['_id'] }}/">{{ forum["name"] }}</option>
				{% end %}
			{% end %}
		{% end %}
		</select>
</label></div>

