{% set items_per_page = handler.settings["tornadobb.posts_num_per_page"] %}
{% set root_url = handler.settings["tornadobb.root_url"]%}
{% for i,topic in enumerate(topics)%}
{% set is_sticky = topic.get("sticky",False) %}
<tr class="{% if i%2==0 %}rowodd{% else %}roweven{% end %} {% if is_sticky %}isticky{% end %}">
	<td class="tcl">
		<div class="icon {% if topic.get('dist_level',0) >= handler.settings.get('tornadobb.distillat_threshold',60) or topic.get('dist',False) %}icon-new{% end %}"><div class="nosize">{{ i }}</div></div>
		<div class="tclcon">
			<div>
				{% if is_sticky %}<span class="stickytext">Sticky:</span>{% end %}
				{% if topic.get("closed",False) %}<span class="stickytext">({{ _("Closed") }})</span>{% end %}	
				<a href="{{ root_url }}/topic/{{ category_id }}/{{ forum_id }}/{{ topic['_id'] }}/?f={{ filter_view }}" ><span class="{{ ' '.join(topic.get('high_light',handler.settings['tornadobb.topic_default_highlight'])) }}">{{ topic["subject"] }}</span></a>
				<span class="byuser">by {{ topic["creater_name"] }}</span>
			</div>
		</div>
	</td>
	<td class="tc2">{{ topic.get("replies_num",0) }}</td>
	<td class="tc3">{{ topic.get("views_num",0) }}</td>
	{% if topic.get('replies_num',0)%items_per_page == 0 %}
		{% set pages_num = topic.get('replies_num',0)/items_per_page %}
	{% else %}
		{% set pages_num = topic.get('replies_num',0)/items_per_page + 1 %}
	{% end %}
	<td class="tcr"><a href="{{ root_url }}/topic/{{ category_id }}/{{ forum_id }}/{{ topic['_id'] }}/?p={{ pages_num }}">{% module Show_Time(topic["last_post_time"]) %}</a> <span class="byuser">by {{ topic["last_poster_name"] }}</span></td>
</tr>
{% end %}
