{% set root_url = handler.settings.get('tornadobb.root_url','/tornadobb') %}
{% set category_id = pagination_obj.get("category_id") %}
{% set forum_id = pagination_obj.get("forum_id") %}
{% set topic_id = pagination_obj.get("topic_id") %}
{% set current_page_num = pagination_obj.get("current_page_num") %}
{% set pages_num = pagination_obj.get('pages_num',None) %}
{% set total_items_num = pagination_obj.get('total_items_num',None) %}
{% set query = pagination_obj.get('from_query',None) %}
<p class="pagelink conl"><span class="pages-label">{{_("Pages")}}: </span>
    {% if pagination_obj.get("has_previous",False) %}	
     <a href="{{ root_url }}/topic/{{category_id}}/{{forum_id}}/{{ topic_id }}/{{ current_page_num-1 }}/{{ pages_num }}/{{ total_items_num }}?{{query}}">{{_("Previous")}}</a>
    {% end %}
    <!-- show first page-->
	{% if current_page_num == 1%}
	<strong class="item1">1</strong>
	{% else %}
    <a href="{{ root_url }}/topic/{{category_id}}/{{forum_id}}/{{ topic_id }}/1/?{{query}}">1</a>
    {% end %}
    
    {% if show_prev_space %}
	<span class="spacer">…</span>
	{% end %}

	{% for page_num in xrange(begin,end) %}
		{% if page_num == current_page_num %}<strong class="item">{{ page_num }}</strong> 
		{% else %}<a href="{{ root_url }}/topic/{{category_id}}/{{forum_id}}/{{ topic_id }}/{{ page_num }}/{{ pages_num }}/{{ total_items_num }}?{{query}}">{{ page_num }}</a>
		{% end %}
	{% end %}

	{% if show_next_space %}
	<span class="spacer">…</span>
	{% end %}
	<!-- show last page-->
	{% if pages_num > 1 %}
		{% if current_page_num == pages_num %}
		<strong class="item1">{{ pages_num}}</strong> 
		{% else %}
		<a href="{{ root_url }}/topic/{{category_id}}/{{forum_id}}/{{ topic_id }}/{{pages_num }}/{{ pages_num }}/{{ total_items_num }}?{{query}}">{{ pages_num }}</a>
		{% end %}
		{% if pagination_obj.get("has_next",False) %}
		<a href="{{ root_url }}/topic/{{category_id}}/{{forum_id}}/{{ topic_id }}/{{ current_page_num+1 }}/{{ pages_num }}/{{ total_items_num }}?{{query}}">{{_("Next")}}</a>
		{% end %}
	{% end %}
</p>

