{% extends "base.html" %}
{% block title %}{% end%}
{% block content %}
<div class="forum">
	<div class="main site-main">
		<div class="main-inner">
			<div class="pun">
				<div class="punwrap">
					{% include "inc_header.html" %}
					<div id="brdmain">
					{% set errors = data.get("errors",None)%}
					{% if errors %}
						<div style="color:#ff0000;margin:18px;padding: 6px 6px;border: 1px solid #FF0000;background: #FFFFE6;">
							<p>{{_("The following error(s) occurred")}}:</p>
							<ul>
								{% for error in errors %}<li>{{ _(error) }}</li>{% end %}
							</ul>
						</div>
					{% end %}
					{% set messages = data.get("messages",None)%}
					{% if messages %}
						<div style="color:#191970;margin:18px;padding: 6px 6px;border: 1px solid #191970;background: #FFFFE6;">
							<p>{{_("The following message(s)")}}:</p>
							<ul>
								{% for message in messages %}<li>{{ _(message) }}</li>{% end %}
							</ul>
						</div>
					{% end %}
					{% block single_block %}{% end %}
					</div>
					<div id="brdfooter" class="block">
						{% include "inc_board_foot.html" %}
					</div>				
				</div>
				<div class="end-box"><div><!-- Bottom corners --></div></div>
			</div>	
		</div>
	</div>
</div>
{% end %}
