{% extends "user_base.html" %}
{% block title %}{{_("Display")}} - {{_("Profile")}} - {{_(tornadobb_settings['tornadobb.forum_title'])}}{% end%}
{% block menu_display %}isactive{% end %}
{% block right_content %}
<h2><span>{{ current_user["name"] }} - {{_("Display")}}</span></h2>
<div class="box">
	<form id="profile5" method="post" action="">
	{% raw xsrf_form_html() %}
		<div class="inform">
			<fieldset>
				<legend>{{_("Select your preferred style")}}</legend>
				<div class="infldset">
					<label>{{_("Styles")}}<br />
					<select name="style">
						{% set default_style = tornadobb_settings["tornadobb.style"]%}
						{% for style in tornadobb_settings["tornadobb.style_settings"]%}
							{% if current_user.get("style",default_style) == style %}
							<option value="{{ style }}" selected="selected">{{ style }}</option>
							{% else %}
							<option value="{{ style }}">{{ style }}</option>
							{% end %}
						{% end %}
					</select>
					<br /></label>
				</div>
			</fieldset>
		</div>
		<!--
		<div class="inform">
			<fieldset>
				<legend>Set your options for viewing posts</legend>
				<div class="infldset">

					<p>If you are on a slow connection, disabling these options, particularly showing images in posts and signatures, will make pages load faster.</p>
					<div class="rbox">
						<label><input type="checkbox" name="form[show_smilies]" value="1" checked="checked" />Show smilies as graphic icons.<br /></label>
						<label><input type="checkbox" name="form[show_sig]" value="1" checked="checked" />Show user signatures.<br /></label>
						<label><input type="checkbox" name="form[show_avatars]" value="1" checked="checked" />Show user avatars in posts.<br /></label>
						<label><input type="checkbox" name="form[show_img]" value="1" checked="checked" />Show images in posts.<br /></label>

					</div>
				</div>
			</fieldset>
		</div>
		<div class="inform">
			<fieldset>
				<legend>Enter your pagination options</legend>
				<div class="infldset">

					<label class="conl">Topics<br /><input type="text" name="form[disp_topics]" value="" size="6" maxlength="3" /><br /></label>
					<label class="conl">Posts<br /><input type="text" name="form[disp_posts]" value="" size="6" maxlength="3" /><br /></label>
					<p class="clearb">Enter the number of topics and posts you wish to view on each page. Leave blank to use forum default.</p>
				</div>
			</fieldset>
		</div>
		-->
		<p class="buttons"><input type="submit" value="{{_('update')}}" /></p>
	</form>
</div>
{% end %}
