{% extends "profile_base.html" %}
{% block title %}{% block title %}{{_("Update your password")}} - {{_("Profile")}} - {{_(tornadobb_settings['tornadobb.forum_title'])}}{% end%}{% end%}
{% block  profile_content %}
<h2><span>{{_("Change password")}}</span></h2>
<div class="box">
	<form id="change_pass" method="post" action="">
		<div class="inform">
			{% raw xsrf_form_html() %}
			<fieldset>
				<legend>{{_("Enter and confirm your new password")}}</legend>
				<div class="infldset">
					<label class="required"><strong>{{_("Old password")}} <span>({{_("Required")}})</span></strong><br />
					<input type="password" id="old_password" name="old_password" size="16" /><br /></label>
					<label class="conl required"><strong>{{_("New password")}} <span>({{_("Required")}})</span></strong><br />
					<input type="password" id="new_password1" name="new_password1" size="16" /><br /></label>
					<label class="conl required"><strong>{{_("Confirm new password")}} <span>({{_("Required")}})</span></strong><br />
					<input type="password" id="new_password2" name="new_password2" size="16" /><br /></label>
					<p class="clearb">{{_("Passwords must be at least 5 characters long. Passwords are case sensitive")}}.</p>
				</div>
			</fieldset>
		</div>
		<p class="buttons"><input type="submit" value="{{_('Update')}}" /> <a href="javascript:history.go(-1)">{{_("Go back")}}</a></p>
	</form>
</div>
{% end %}
{% block scripts %}
{% set pwd_min = tornadobb_settings.get("tornadobb.password_min_chars_num",5) %}
{% set pwd_max = tornadobb_settings.get("tornadobb.password_max_chars_num",25) %}
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.min.js"></script>    
<script type="text/javascript" src="{{ root_url }}/static/scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
		$("#change_pass").validate({
			rules: {
	
				old_password: {
					required: true,
					minlength: {{ pwd_min }},
					maxlength: {{ pwd_max }}
				},
				new_password1: {
					required: true,
					minlength: {{ pwd_min }},
					maxlength: {{ pwd_max }}
				},
				new_password2: {
					required: true,
					minlength: {{ pwd_min }},
					maxlength: {{ pwd_max }},
					equalTo: "#new_password1"
				}
			},
			messages: {
			
				old_password: {
					required: "{{ _('You must enter your existing password') }}",
					minlength: "{{  _('Please enter at least {0} characters').format(pwd_min) }}",
					maxlength: "{{  _('Please enter at most {0} characters').format(pwd_max) }}"
				},
				new_password1: {
					required: "{{ _('Please provide a new password') }}",
					minlength: "{{  _('Please enter at least {0} characters').format(pwd_min) }}",
					maxlength: "{{  _('Please enter at most {0} characters').format(pwd_max) }}"
				},
				new_password2: {
					required: "{{ _('Please provide a new password') }}",
					minlength: "{{  _('Please enter at least {0} characters').format(pwd_min) }}",
					maxlength: "{{  _('Please enter at most {0} characters').format(pwd_max) }}",
					equalTo: "{{ _('Please enter the same password as above') }}"
				}
			}
		});
	});
</script>
{% end %}
